<header id="header" class="header-narrow header-semi-transparent header-flex" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 1, 'stickySetTop': '0'}">
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-logo">
                        <a href="#">
                            <img alt="Porto" width="131" height="40" src="assets/img/demos/digital-agency/logo-digital-agency.png">
                        </a>
                    </div>
                </div>
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-nav header-nav-stripe">
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                <i class="fa fa-bars"></i>
                            </button>
                            
                            <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1 collapse">
                                <nav>
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="active">
                                            <a href="#">
                                                Home
                                            </a>
                                        </li>
                                        <li>
                                                <a routerLink="/about" routerLinkActive>About</a>
                                        </li>
                                        <li>
                                                <a routerLink="/services" routerLinkActive>
                                                Services
                                            </a>
                                        </li>
                                       
                                        <li>
                                                <a routerLink="/contact" routerLinkActive>
                                                Contact
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>