<div role="main" class="main">
  <div class="slider-container rev_slider_wrapper" style="height: 320px; margin-bottom: -25px;">
    <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 800, 'gridheight': 320, 'spinner': 'off'}">
      <ul>
        <li data-transition="fade">
          <img src="assets/video/landing.jpg"  
            alt=""
            data-bgposition="center center" 
            data-bgfit="cover" 
            data-bgrepeat="no-repeat" 
            class="rev-slidebg">

          <div class="rs-background-video-layer" 
            data-forcerewind="on" 
            data-volume="mute" 
            data-videowidth="100%" 
            data-videoheight="100%" 
            data-videomp4="assets/video/landing.mp4" 
            data-videopreload="preload" 
            data-videoloop="loop" 
            data-forceCover="1" 
            data-aspectratio="16:9" 
            data-autoplay="true" 
            data-autoplayonlyfirsttime="false"
          ></div>
          
          <div class="tp-dottedoverlay tp-opacity-overlay"></div>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row mt-xl">
      <div class="col-md-8 col-md-offset-2 mt-xlg title-with-video-custom center">
        <h1 class="mt-xlg font-weight-semibold text-uppercase">Services.</h1>
        <p class="mb-none lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Nulla consequat massa quis enim.</p>
      </div>
    </div>
  </div>

  <section class="section section-default mt-none">
    <div class="container">
      <div class="row">
        <div class="counters">
          <div class="col-md-10">
            <h2 class="mt-xl mb-xl pb-none">We create amazing solution lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Nulla consequat massa quis enim.</h2>
          </div>
          <div class="col-md-2 center">
            <img src="assets/img/apple-touch-icon.png" class="img-responsive mt-xs" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="m-xl pb-xl">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center">
          <h2 class="mb-none mt-xl font-weight-semibold">We Can Help You With:</h2>
          <p class="lead mb-xlg">Pellentesque pellentesque eget tempor tellus. </p>
          <div class="divider divider-primary divider-small divider-small-center mb-xl">
            <hr>
          </div>
        </div>
      </div>
      <div class="row mt-xl">
        <div class="col-md-4 center">
          <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
            <span class="featured-boxes featured-boxes-style-6 p-none m-none">
              <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                <span class="box-content p-none m-none">
                  <i class="icon-featured icon-bulb icons"></i>
                </span>
              </span>
            </span>	
            <div class="feature-box-info">
              <h4 class="mb-sm">Strategy</h4>
              <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 center">
          <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
            <span class="featured-boxes featured-boxes-style-6 p-none m-none">
              <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                <span class="box-content p-none m-none">
                  <i class="icon-featured icon-puzzle icons"></i>
                </span>
              </span>
            </span>	
            <div class="feature-box-info">
              <h4 class="mb-sm">Development</h4>
              <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 center">
          <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
              <span class="featured-boxes featured-boxes-style-6 p-none m-none">
                <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                  <span class="box-content p-none m-none">
                    <i class="icon-featured icon-rocket icons"></i>
                  </span>
                </span>
              </span>	
            <div class="feature-box-info">
              <h4 class="mb-sm">Marketing</h4>
              <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-xl">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center">
          <h2 class="mb-none mt-xl font-weight-semibold">How We Do:</h2>
          <p class="lead mb-xlg">Pellentesque pellentesque eget tempor tellus. </p>
          <div class="divider divider-primary divider-small divider-small-center mb-xl">
            <hr>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="featured-boxes-full featured-boxes-full-scale clearfix">
    <div class="col-md-4">
      <div class="featured-box-full featured-box-full-primary">
        <i class="icon-directions icons"></i>
        <h4 class="mt-xl">1 - BRIEF</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="featured-box-full featured-box-full-primary">
        <i class="icon-puzzle icons"></i>
        <h4 class="mt-xl">2 - CREATION</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet. Quisque rutrum pellentesque imperdiet.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="featured-box-full featured-box-full-primary">
        <i class="icon-rocket icons"></i>
        <h4 class="mt-xl">3 - LAUNCH</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
      </div>
    </div>
  </div>

  <section class="section section-default section-footer section-color-custom mt-none">
    <div class="container">
      <div class="row mt-xl">
        <div class="col-md-4">
          <img class="img-responsive appear-animation" src="assets/img/projects/project-masonry-25.jpg" alt="layout styles" data-appear-animation="fadeInLeft">
        </div>
        <div class="col-md-7 col-md-offset-1">
          <h2 class="mb-xs mt-xl font-weight-semibold">Innovation.</h2>
          <div class="divider divider-primary divider-small mb-xl">
            <hr>
          </div>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet hendrerit volutpat. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci.
          </p>

          <a class="btn btn-borders btn-lg btn-primary mt-xl" target="_blank" routerLink="/about" routerLinkActive>Get a Quote!</a>
        </div>
      </div>
    </div>
  </section>
</div>